
<body style="height:100vh;">
    <div class="form" id="form">    
      <div class="field uid">
        <div class="icon"></div>
        <input class="input" id="email" type="email" placeholder="User Id" autocomplete="off"/>
      </div>
      <div class="field password">
        <div class="icon"></div>
        <input class="input" id="password" type="password" placeholder="Password"/>
      </div>
      <button class="button" id="submit" (click)="processCrbPortal()">LOGIN
        <div class="side-top-bottom"></div>
        <div class="side-left-right"></div>
      </button>
      <small><A>Forgot credentials</A></small>
  </div>

</body>
